.header {
    justify-content: space-between;
    display: flex;
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
}

.nav-items>ul {
    justify-content: center;
    display: flex;
    list-style-type: none;
}

.nav-items>ul>li {
    padding: 10px;
}

.logo {
    justify-content: center;
    width: 80px;
}

.card {
    width: 200px;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
}

.card>img {
    width: 200px;
}

.res-list {
    flex: wrap;
    display: flex;
    justify-content: center;
}